name: daily_version_check
on:
  workflow_dispatch:
  schedule:
  - cron:  '30 17 * * *'
jobs:
  daily_version_check:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: get hugo version
      run: |
        VERSION=`curl -L -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" 'https://api.github.com/repos/gohugoio/hugo/releases?per_page=1' | jq -r '.[].name'`
        HUGO_VERSION=${VERSION:1}
        echo "HUGO_VERSION=$HUGO_VERSION" >> $GITHUB_ENV
        echo "HUGO VERSION $HUGO_VERSION" >> $GITHUB_STEP_SUMMARY
        echo $HUGO_VERSION
    - name: crate version
      run: |
        CRATE_VERSION=`grep '^version =' Cargo.toml | cut -d'"' -f 2`
        echo "CRATE_VERSION=$CRATE_VERSION" >> $GITHUB_ENV
        echo "CRATE VERSION BEFORE RUN $HUGO_VERSION" >> $GITHUB_STEP_SUMMARY
        echo $CRATE_VERSION
    - name: replace version
      if: env.CRATE_VERSION != env.HUGO_VERSION
      run: |
        sed -i "s/version \= \"$CRATE_VERSION\"/version \= \"$HUGO_VERSION\"/" Cargo.toml
        cat Cargo.toml
    - name: Build artifact
      if: env.CRATE_VERSION != env.HUGO_VERSION
      uses: actions-rs/cargo@v1
      with:
        command: build
    - uses: stefanzweifel/git-auto-commit-action@v7
      if: env.CRATE_VERSION != env.HUGO_VERSION
      with:
        commit_message: Version bump.
        tagging_message: v${{env.CRATE_VERSION}}
    - run: cargo publish
      if: env.CRATE_VERSION != env.HUGO_VERSION
      env:
        CARGO_REGISTRY_TOKEN: ${{secrets.CARGO_REGISTRY_TOKEN}}
